# build output
dist/
.astro/

# dependencies
node_modules/

# environment & logs
.env
.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# system files
.DS_Store
Thumbs.db

# backend (since backend has its own separate repository or folder)
backend/
